* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  max-height: 800px;
  width: 90%;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.qr-code {
  max-width: 100%;
  border-radius: 9px;
  height: auto;
}

.text-content {
  margin-top: 30px;
  text-align: center;
}

.text-content h1 {
  font-size: 26px; /* increase this */
  margin-bottom: 10px;
}

.text-content p {
  font-size: 22px; /* increase this */
  line-height: 1.5; /* more space between lines */
  color: hsl(220, 15%, 55%);
}
